
.home__section{
    background-image: url(../../../assets/images/photos/vaches_boveroux_7.jpg);
    &__firstBlock{
        width: 40%;
        padding: 15%;
        &__subtitle{
            padding-left: 15px;
        }
        &__text{
            padding-left: 15px;
        }
        &__button{
            margin-top: 60px;
            padding-left: 15px;
        }
    }
    &__secondBlock{
        display: flex;
        justify-content: space-around;
        padding: 120px;
        background-color: $background-color;
        &__leftDiv{
            &__logo{
                display: flex;
                &__img{
                    padding-right: 30px;
                }
            }
        }
        &__rightDiv{
            width: 40%;
            & button{
                margin-top: 30px;
            }
        }
    }
}
#logobio{
    height: 120px;
}