
.home__section{
    &__firstBlock{
        &__img img{
            width: 100%;
        }
        &__textBlock{
            width: 40%;
            padding: 15%;
            &__subtitle{
                padding-left: 15px;
            }
            &__text{
                padding-left: 15px;
            }
            &__button{
                margin-top: 60px;
                padding-left: 15px;
            }
        }
    }
    &__secondBlock{
        display: flex;
        justify-content: space-around;
        padding: 120px;
        background-color: $background-color;
        &__leftDiv{
            &__logo{
                display: flex;
                text-align: center;
                &__img{
                    padding-right: 30px;
                }
            }
        }
        &__rightDiv{
            width: 40%;
            & p{
                margin-bottom: 60px;
            }
        }
    }
}
#logobio{
    height: 120px;
}