
.home__section{
    overflow: hidden;
    &__textandimg{  
        &__img{
            position: relative;
            top: 0%;
            right: 0%;
            left: 0%;
            z-index: -1;             
        }
        &__img img{
            width: 100%;
        }
        &__textBlock{
            position: absolute;
            top: 0%;
            right: 0%;
            left: 0%;
            z-index: 3;
            padding: 120px;
            padding-top: 200px;
            &__text{
                padding-left: 15px;
                &__paragraph{
                    width: 40%;
                    margin-bottom: 30px;
                }
            }
        }
    }
    &__secondBlock{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 90px;
        background-color: $background-color;
        &__leftDiv{
            &__title{
                padding-bottom: 15px;
            }
            &__logo{
                display: flex;
                text-align: center;
                &__img{
                    padding-right: 60px;
                    & p{
                        padding-top: 10px;
                    }
                }
            }
        }
        &__rightDiv{
            width: 40%;
            & p{
                margin-bottom: 30px;
            }
        }
    }
}
#logobio{
    height: 120px;
}
#paragraph_meat{
    padding-top: 10px;
}
#rightImg{
    padding-right: 0px;
}