.containerDetailedProducts{
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(244, 239, 243, 0.9);
    &__informationsDetailed{
        min-height: 25vw;
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px;
        background-color: $background-color;
        &__imageDetailed {
            width: 50%;
            img{
               // height: 100%;
                width: 100%;
            }
        }
        &__textDetailed{
            width: 50%;
            img{
                position: absolute;
                width: 4vw;
                height: 4vw;
                right: 15px;
                top: 15px;
                cursor: pointer;
            }
            &__descriptionDetailed{
                width: auto;
                margin: 60px 30px 90px 30px;
                h2{
                    color: #3D3339;
                    position: absolute;
                    transform: translate(-50px, -40px);
                }
            }
            &__buttonDetailed{
                bottom: 0;
                transform: translate(200px);
                position: absolute;
            }
        }
    }
}