.containerDetailedProducts{
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(244, 239, 243, 0.9);
    &__informationsDetailed{
        min-height: 25vw;
        position: relative;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 120px;
        background-color: $background-color;
        &__imageDetailed {
            width: 50%;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            img{
               // height: 100%;
                width: 100%;
                display: block;
            }
        }
        .closeDetailedProduct {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 15px;
            top: 15px;
            cursor: pointer;
        }
        &__textDetailed{
            width: 50%;
            position: relative;
            z-index: 1;
            overflow: hidden;
            padding-top: 45px;
            &__descriptionDetailed{
                width: auto;
                margin: 0px 30px;
                &__priceProduct{
                    display: flex;
                    align-items: baseline;
                    h4{
                        margin-left: 10px;
                    }
                }
                h2{
                    color: #3D3339;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }
            }
        }
        &__buttonDetailed{
            position: absolute;
            left: 75%;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
    }
}

.productInBasket .buttonAddToBasket {
    display: none;
}

.productInBasket .addBasket{
    display: flex;
    padding: 5px 10px;
}

.addBasket{
    display: none;
}