.footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background-color-lighter;
    color: $text-color;
    &__adress{
        width: 50vw;
        &__list{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 30px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    margin-top: 15px;
                    list-style: none;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                }
            }
        }
    }
    &__visite{
        width: 50vw;
        overflow: hidden;
        img{
            height: 100%;
        }
        a{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
        }
    }
}