.footer__container{
    display: flex;
    flex-direction: row;
    background-color: $background-color-lighter;
    color: $text-color;
    &__adress{
        width: 50vw;
        &__list{
            margin-top: 32px;
            margin-bottom: 30px;
            margin-left: 30px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    margin-top: 12px;
                    list-style: none;
                    font-size: 13px;
                    font-family: $font-secondary;
                }
            }
        }
    }
    &__visite{
        position: relative;
        overflow: hidden;
        width: 50vw;
        height: 10vw;
        img{
            width: 100vw;
            height: 10vw;
        }
        a{
            position: absolute;
            top: 0;
            z-index: 10;
            padding-top: 75px;
            width: 100%;
            height: 100%;
            color: $text-color;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 13px;
            font-family: $font-secondary;
        }
        a:hover{
            color: $color-primary;
        }
    }
}