.headerContainer{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 2000;
    &__inside{
        display: flex;
        justify-content: space-between;
        margin: 15px;
        &__logo{
            width: 120px;
            background: url("../images/logo.svg") no-repeat center;
            background-size: 100% auto;
            text-align: center;
        }
        &__cat{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 5px;
            background-color: $background-color-lighter;
            text-align: center;
            &__under{
                padding: 15px;
                background-color: $background-color-lighter;
                font-family: $font-secondary;
                & a{
                    color: $text-color;
                    text-decoration: none;
                }
            }
            &__underButton{
                margin: 15px;
                position: relative;
                display: inline-block;
                &__menuBasketEmpty{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    background-color: $background-color-lighter;
                    border-top: 5px solid $color-primary;
                    right: -29px;
                    top: 46px;
                    padding: 15px 30px;
                    z-index: -1;
                    min-width: 18vw;
                    p{
                        padding-bottom: 15px;
                    }
                    &__menuBasketContents{
                        &__productsInfo{
                            &__priceDetailed{
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 15px;
                                &__quantityProducts{
                                    display:flex;
                                    p{
                                        margin: 0px 10px;
                                    }
                                }
                            }
                        }
                        &__buttonFinishOrder{
                            bottom: 0;
                           // position: absolute;
                            transform: translate(13%, 20px);
                            margin-top: 15px;
                        }
                    }
                }
            }
        }     
    }
}

.menuButton, .grayOpacity{
    display: none;
}

.basketInvisible{
    display: none;
}

.basketVisible{
    display: block;
}