.headerContainer{
    position: fixed;
    left: 0%;
    right: 0%;
    &__inside{
        display: flex;
        justify-content: space-between;
        margin: 15px;
        &__logo{
            width: 200px;
            text-align: center;
            background-color: $background-color;
        }
        &__cat{
            border-radius: 5px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $background-color-lighter;
            &__under{
                background-color: $background-color-lighter;
                font-family: $font-secondary;
                padding: 15px;
                & a{
                    text-decoration: none;
                    color: $text-color;
                }
            }
            &__underButton{
                margin: 15px;
            }
        }       
    }
}