.headerContainer{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 2000;
    &__inside{
        display: flex;
        justify-content: space-between;
        margin: 15px;
        &__logo{
            width: 120px;
            background: url("../images/logo.svg") no-repeat center;
            background-size: 100% auto;
            text-align: center;
        }
        &__cat{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 5px;
            background-color: $background-color-lighter;
            text-align: center;
            &__menuBasketEmpty{
                position: absolute;
                top: 100%;
                right: 0px;
                z-index: -1;
                display: flex;
                flex-direction: column;
                padding: 15px 30px;
                min-width: 25vw;
                max-width: 35vw;
                border-top: 5px solid $color-primary;
                background-color: $background-color-lighter;
                text-align: left;
                &__menuBasketContents{
                    &__productsInfo{
                        &__priceDetailed{
                            display: flex;
                            align-items: baseline;
                            justify-content: flex-end;
                            padding-bottom: 15px;
                            .nameProduct{
                                flex: 3;
                            }
                            .priceOfProduct{
                                padding: 0px 15px;
                            }
                            &__quantityProducts{
                                display:flex;
                                align-items: baseline;
                                p{
                                    margin: 0px 10px;
                                }
                            }
                        }
                    }
                    &__buttonFinishOrder{
                        bottom: 0;
                        text-align: center;
                        a{
                            display: inline-block;
                            transform: translateY(30px);
                        }
                    }
                }
            }
            &__under{
                padding: 15px;
                background-color: $background-color-lighter;
                font-family: $font-secondary;
                & a{
                    color: $text-color;
                    text-decoration: none;
                }
            }
            &__underButton{
                position: relative;
                position: relative;
                display: inline-block;
                margin: 15px;
                white-space: nowrap;
                &__notif{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px 9px;
                    border-radius: 5px;
                    background-color: $color-primary;
                    color: $background-color;
                    font-weight: 700;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                    transform: translateY(-12.5px) translateX(12px);
                }
            }
        }     
    }
}

.menuButton, .grayOpacity{
    display: none;
}

.hideContentBasket{
    display: none;
}

.basketIsEmpty .textEmpty {
    display: block;
}
.basketIsEmpty .headerContainer__inside__cat__menuBasketEmpty__menuBasketContents{
    display: none;
}

.textEmpty{
    display:none;
}

.hiddenOpac{
    position: absolute;
    right: 0%;
}

.underHidden{
    display: none;
}

.screenDarkMenu{
    background-color: rgba(31,28,29,0.7);
    position: absolute;
}