a {
    display: inline-block;
}
// Primary button
a.primaryButton, button.primaryButton{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: $background-color;
    text-decoration: none;
    font-weight: bold;
    font-family: $font-secondary;
    transition: 0.3s;
    cursor: pointer;
}

a.primaryButton:hover, button.primaryButton:hover{
    background-color: #6EC475;
}

// Secondary button
a.secondaryButton, button.secondaryButton{
    padding: 10px 15px;
    border: 2px solid $color-primary;
    border-radius: 5px;
    background-color: transparent;
    color: $color-primary;
    text-decoration: none;
    font-weight: bold;
    font-family: $font-secondary;
    transition: 0.3s;
    cursor: pointer;
}

a.secondaryButton:hover, button.secondaryButton:hover{
    border: 2px solid #6EC475;
    color: #6EC475;
}

// Tertiary button
a.tertiaryButton, button.tertiaryButton{
    padding: 10px 15px;
    background-color: transparent;
    color: $text-color;
    text-decoration: none;
    font-family: $font-secondary;
    transition: 0.3s;
    cursor: pointer;
}

a.tertiaryButton:hover, button.tertiaryButton:hover{
    color: $color-primary;
}
a.tertiaryButton:hover {
    color: $text-color;
}

a.tertiaryButton.selected, button.tertiaryButton.selected{
    border: 2px solid $color-primary;
    color: $color-primary;
}

// Remove primaryButton and show button + / -
.remove{
    display: none;
}

.addBasket{
    position: absolute;
    height: 1vw;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: $background-color;
    text-decoration: none;
    font-weight: bold;
    font-family: $font-secondary;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a{
        text-decoration: none;
        color: $background-color;
        cursor: pointer;
    }
    & p{
        color: $background-color;
        padding: 0px 30px;
    }
}

// H1
h1{
    display:none;
}

// H2
h2{
    line-height: 1.3;
    margin: 0px;
    color: $text-color;
    font-size: $font-size-title;
    font-family: $font-primary;
}

// H3
h3{
    line-height: 1.55;
    margin-top: 0;
    margin-bottom: 10px;
    color: $text-color;
    font-size: $font-size-subtitle;
    font-family: $font-primary;
}

// H4
h4{
    line-height: 1.55;
    margin: 0px;
    color: $text-color;
    font-weight: bold;
    font-size: $font-size-body;
    font-family: $font-secondary;
}

// Body
p{
    margin: 0px;
    line-height: 1.8;
    color: $text-color;
    font-size: $font-size-body;
    font-family: $font-secondary;
}
