// Primary button
a.primaryButton, button.primaryButton{
    text-decoration: none;
    color: $background-color;
    font-family: $font-secondary;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    background-color: $color-primary;
    cursor: pointer; 
}

a.primaryButton:hover, button.primaryButton:hover{
    background-color: #6EC475;
    transition: 0.5s;
}

// Secondary button
a.secondaryButton, button.secondaryButton{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: $color-primary;
    font-family: $font-secondary;
    font-weight: bold;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 10px 20px;
}

a.secondaryButton:hover, button.secondaryButton:hover{
    color: #6EC475;
    border: 2px solid #6EC475;
    transition: 0.5s;
}

// Tertiary button
a.tertiaryButton, button.tertiaryButton{
    text-decoration: none;
    font-family: $font-secondary;
    cursor: pointer;
    background-color: transparent;
    color: $text-color;
    padding: 10px 20px;
}

a.tertiaryButton:hover, button.tertiaryButton:hover{
    color: $color-primary;
}

a.tertiaryButton.selected, button.tertiaryButton.selected{
    color: $color-primary;
    border: 2px solid $color-primary;
}

// H1
h1{
    display:none;
}

// H2
h2{
    font-family: $font-primary;
    font-size: $font-size-title;
    color: $text-color;
    margin: 0px;
}

// H3
h3{
    font-family: $font-primary;
    font-size: $font-size-subtitle;
    color: $text-color;
    margin-bottom: 10px;
}

// Body
p{
    font-family: $font-secondary;
    font-size: $font-size-body;
    color: $text-color;
    margin: 0px;
}