// Degraded bottom
.degradeBottomLigthDark{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: $background-color-dark;
    background-image:linear-gradient(to bottom, $background-color-dark 100%, $background-color-dark 0%);
}

.degradeBottomDark{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: $background-color;
    background-image:linear-gradient(to bottom, $background-color 100%, $background-color 0%);
}

// Degraded right
.degradeRightLigthDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: $background-color-dark;
    background-image:linear-gradient(to right, $background-color-dark 100%, $background-color-dark 0%);
}

.degradeRightDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: $background-color;
    background-image:linear-gradient(to right, $background-color 100%, $background-color 0%);
}

// Degraded left
.degradeLeftLigthDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: $background-color-dark;
    background-image:linear-gradient(to left, $background-color-dark 100%, $background-color-dark 0%);
}

.degradeLeftDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: $background-color;
    background-image:linear-gradient(to left, $background-color 100%, $background-color 0%);
}

// Filters
.filterLigthDark{
    position: absolute;
    background-color: $background-color-dark;
    opacity: 0.4;
}

.filterBottomDark{
    position: absolute;
    background-color: $background-color;
    opacity: 0.4;
}