// Degraded bottom
.degradeBottomLigthDark{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image:linear-gradient(to bottom, $background-color-dark, rgba(0,0,0,0));
}

.degradeBottomDark{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image:linear-gradient(to bottom, $background-color, rgba(0,0,0,0));
}

// Degraded right
.degradeRightLigthDark{
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background-image:linear-gradient(to right, $background-color-dark, rgba(0,0,0,0));
}

.degradeRightDark{
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background-image:linear-gradient(to right, $background-color, rgba(0,0,0,0));
}

// Degraded left
.degradeLeftLigthDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-image:linear-gradient(to left, $background-color-dark, rgba(0,0,0,0));
}

.degradeLeftDark{
    position: absolute;
    width: 60px;
    height: 100%;
    background-image:linear-gradient(to left, $background-color, rgba(0,0,0,0));
}

// Filters
.filterLigthDark{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color-dark;
    opacity: 0.4;
}

.filterBottomDark{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    opacity: 0.4;
}