// Conatainer for images
.containerBigImage{
    width: 100vw;
    height: 50vw;
}

.containerValueImage{
    width: 9vw;
    height: 9vw;
}

.containerFooterImage{
    width: 50vw;
    height: 11vw;
}

// Degraded for images
// .degradeBottomLigthDark{
    
// }
// .degradeBottomDark{
    
// }