// Primary button
a.primaryButton, button.primaryButton{
    text-decoration: none;
    color: $background-color;
    font-family: $font-secondary;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    background-color: $color-primary;
    cursor: pointer; 
}

// Secondary button
a.secondaryButton, button.secondaryButton{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: $color-primary;
    font-family: $font-secondary;
    font-weight: bold;
    border: 2px solid $color-primary;
    border-radius: 5px;
    padding: 10px 20px;
}

// H1
h1{
    display:none;
}

// H2
h2{
    font-family: $font-primary;
    font-size: $font-size-title;
    color: $text-color;
}

// H3
h3{
    font-family: $font-primary;
    font-size: $font-size-subtit;
    color: $text-color;
    margin-bottom: 12px;
}

// Body
p{
    font-family: $font-secondary;
    font-size: $font-size-body;
    color: $text-color;
    margin: 12px 0px 15px 0px;
}