.container__detailed__products{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F4EFF3;
    &__informations{
        margin: 0 auto;
        width: 81vw;
    }

}