.prod__section{
    & h2{
        padding-left: 120px;
    }
    & nav{
        display: flex;
        & :first-child{
            margin-left: 120px;
        }
        & :last-child{
            justify-content: flex-end;
        }
        & a{
            text-align: center;
            text-decoration: none;
            font: $font-secondary;
            margin: 30px;
        }
    }
}