.containerDetailedProducts{
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F4EFF3;
    &__informationsDetailed{
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 81vw;
        background-color: $background-color;
        &__imageDetailed img{
            height: 100%;
            width: 45vw;
        }
        &__textDetailed{
            &__descriptionDetailed{
                width: auto;
                margin: 90px 30px;
            }
            &__buttonDetailed{
                text-align: center;
            }
        }
    }
}