.prod__section{
    & h2{
        padding-left: 120px;
    }
    &__cat{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & :first-child{
            margin-left: 120px;
        }
        & :last-child{
            margin-right: 120px;
        }
        & a{
            text-align: center;
            text-decoration: none;
            font: $font-secondary;
            margin: 30px;
        }
    }
}