.whoweare__container{
    &__history{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
        &__text{
            margin-right: 30px;
            margin-left: 120px;
            p{
                margin-top: 10px;
            }
        }
        &__picture{
            img{
                width: 50vw;
                height: 39vw;
            }
        }
    }
    &__bioProd{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-top: 90px;
        &__picture{
            img{
                margin-right: 30px;
                width: 9vw;
            }
        }
        &__text{
            max-width: 36vw;
            h3{
                margin: 0;
            }
            p{
                margin-top: 5px;
            }
        }
    }
    &__quality{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 90px;
        margin-right: 120px;
        &__picture{
            img{
                margin-right: 30px;
                width: 50vw;
                height: 37vw;
            }
        }
        &__text{
            h3{
                margin: 0;
            }
            p{
                margin-top: 5px;
            }
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}