.whoweare__container{
    &__line1{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 60px;
        &__left{
            margin-right: 40px;
            max-width: 30vw;
            p{
                margin-top: 10px;
                max-width: 28.5vw;
            }
        }
        &__right{
            overflow: hidden;
            height: 39vw;
            img{
                width: 50vw;
                
            }
        }
    }
}