.finishOrder__container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    &__left{
        position: fixed;
        top: 50%;
        left: 120px;
        width: 40vw;
        transform: translateY(-50%);
        p{
            margin-top: 10px;
        }
    }
    &__right{
        margin-top: 145px;
        margin-right: 120px;
        width: 40vw;
        &__form{
            &__name{
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-family: $font-secondary;
                }
                input{
                    box-sizing: border-box;
                    padding: 10px;
                    width: 28vw;
                    outline: none;
                    border: solid;
                    border-width: 2px;
                    border-color: $text-color;
                    border-radius: 5px;
                    background-color: $background-color-lighter;
                    color: $text-color;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                }
                input.error{
                    border-color: red;
                }
                input:focus{
                    border-color: $text-color;
                }
                span{
                    display: block;
                    margin-top: 0;
                    margin-left: 10px;
                    color: red;
                }
            }
            &__email{
                display: flex;
                flex-direction: column;
                label{
                    margin-top: 30px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-family: $font-secondary;
                }
                input{
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    outline: none;
                    border: solid;
                    border-width: 2px;
                    border-radius: 5px;
                    background-color: $background-color-lighter;
                    color: $text-color;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                }
                input.error{
                    border-color: red;
                }
                input:focus{
                    border-color: $text-color;
                }
                span{
                    display: block;
                    margin-top: 0;
                    margin-left: 10px;
                    color: red;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                }
            }
            &__summary{
                display: flex;
                flex-direction: column;
                p{
                    margin-top: 30px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                }
                &__summaryBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    width: 23vw;
                    border: solid;
                    border-width: 2px;
                    border-color: $text-color;
                    border-radius: 5px;
                    background-color: $background-color-lighter;
                    color: $text-color;
                    font-family: $font-secondary;
                    &__line{
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 15px;
                        margin-right: 15px;
                        margin-left: 15px;
                        &__spec{
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            &__price{
                                margin-right: 20px;
                                font-weight: 700;
                            }
                            &__quantity{
                                margin-right: 10px;
                                margin-left: 10px;
                            }
                        }
                    }
                    &__lineTotalCost{
                        margin-top: 15px;
                        border-color: $text-color;
                        border-top: solid;
                        border-top-width: 2px;
                        div{
                            margin-top: 15px;
                            margin-bottom: 15px;
                            margin-left: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }
            &__message{
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom: 10px;
                    margin-left: 5px;
                    font-family: $font-secondary;
                }
                textarea{
                    box-sizing: border-box;
                    margin-bottom: 30px;
                    padding: 10px;
                    width: 100%;
                    height: 140px;
                    outline: none;
                    border: solid;
                    border-width: 2px;
                    border-color: $text-color;
                    border-radius: 5px;
                    background-color: $background-color-lighter;
                    color: $text-color;
                    font-size: $font-size-body;
                    font-family: $font-secondary;
                    resize: none;
                }
            }
            &__send{
                margin-bottom: 90px;
                text-align: center;
                button{
                    font-size: $font-size-body;
                }
            }
        }
    }
}