.homeSection{
    &__textandimg{
        &__textBlock{
            padding: 30px;
            padding-top: 120px;
            & h2{
                font-size: 50px;
            }
            &__text{
                display: flex;
                flex-direction: column;
                &__paragraph{
                    width: 100%;
                }
                & a{
                    margin-right: 30px;
                    margin-left: 30px;
                    text-align: center;
                }
            } 
        }
    }
    &__valeurs{
        flex-direction: column;
        margin-top: 60px;
        padding: 30px;
        &__leftDiv{
            width: 100%;
            &__title{
                right: 0;
            }
            &__logo{
                justify-content: center;
                & :nth-child(3){
                    & :nth-child(2){
                        line-height: 20px;
                    }
                }
                &__img{
                    padding-right: 15px;
                    text-align: center;
                    & img, svg{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        &__rightDiv{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            & a{
                justify-content: center;
                text-align: center;
                margin-right: 30px;
                margin-left: 30px;
            }
        }
    }
}
#logobio{
    height: 50px;
}