.containerDetailedProducts{
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(244, 239, 243, 0.9);
    &__informationsDetailed{
        position: relative;
        border-radius: 5px;
        min-height: 60vw;
        display: flex;
        flex-direction: column;
        margin: 120px 30px;
        &__imageDetailed {
            width: 100%;
            img{
                display: block;
            }
        }
        .closeDetailedProduct {
            position: absolute;
            width: 10vw;
            height: 10vw;
            right: -5px;
            top: -10px;
            border-radius: 5px;
            background-color: $background-color-lighter;
        }
        &__textDetailed{
            width: 90%;
            position: relative;
            margin: 10px;
            z-index: 1;
            &__descriptionDetailed{
                margin: 0;
                h2{
                    position: absolute;
                    left: 0;
                    top: -10px;
                    font-size: 35px;
                    z-index: -1;
                }
            }
        }
        &__buttonDetailed{
            position: static;
            transform: none;
        }
    }
}