.headerContainer{
    &__inside{
        display: flex;
        flex-direction: row;
        background-color: $background-color-lighter;
        padding: 15px;
        &__cat{
            position: fixed;
            top: 0;
            right: -150vw;
            width: 100vw;
            text-align: center;
            margin-top: 80px;
            display: block;
            background-color: $background-color-lighter;
            transition:0.3s right;
            &__underButton{
                display: none;
            }
            &__menuBasketEmpty{
                width: 100%;
                left: 30px;           }
        }
    }
}
.greyOpacity{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: $background-color-lighter;
    z-index: -2;
    margin: 30px;
}
.visible{
    right: 0;
}
.menuButton{
    display: block;
}
.subMenu{
    border-color: #7CDE84 !important; 
    border-top: 5px solid;
    border-bottom: 5px solid;
}
.underHidden{
    display: block;
}
