.headerContainer{
    &__inside{
        display: flex;
        flex-direction: row;
        background-color: $background-color-lighter;
        padding: 15px;
        &__cat{
            padding: 15px 0;
            margin: 15px;
            position: fixed;
            top: -100vh;
            right: 0;
            left: 0;
            text-align: center;
            margin-top: 80px;
            display: block;
            background-color: $background-color-lighter;
            transition: 0.3s top;
            &__under {
                padding: 5px 0;
            }
            &__underButton{
                display: none;
                white-space: nowrap;
            }
            &__menuBasketEmpty{
                margin-top: 15px;
                padding: 15px;
                position: static;
                box-sizing: border-box;
                width: 100%;
                max-width: none;
                &__menuBasketContents__buttonFinishOrder a {
                    transform: none;
                }
            }
        }
    }
}
.greyOpacity{
    display: block;
    position: fixed;
    bottom: 0;
    z-index: -2;
    margin: 30px;
}
.visible{
    top: 0;
}
.menuButton{
    display: block;
}
.subMenu{
    border-top: 5px solid #7CDE84;
    border-bottom: 5px solid #7CDE84;
    border-radius: 0 0 5px 5px;
    max-height: calc(100% - 130px);
    overflow: auto;
}
.underHidden{
    display: block;
}