.headerContainer{
    &__inside{
        display: flex;
        flex-direction: row;
        background-color: $background-color-lighter;
        padding: 15px;
        &__cat{
            position: fixed;
            top: 0;
            right: -150vw;
            width: 100vw;
            text-align: center;
            margin-top: 80px;
            display: block;
            background-color: $background-color;
            transition:0.3s right;
        }
    }
}
.greyOpacity{
    display: block;
    position: fixed;
    top: 80px;
    right: -150vw;
    bottom: 0;
    width: 100vw;
    background-color: $background-color-lighter;
    transition:1s top;
    z-index: -2;
}
.visible{
    right: 0;
}
.menuButton{
    display: block;
}