.prodSection{
    padding: 30px;
    padding-top: 120px;
    & h2{
        font-size: 50px;
    }
    &__cat{
        display: flex;
        & a{
            margin: 0px;
            padding: 15px;
        }
    }
    &List{
        &__product{
            width: calc(100% - 30px);
            margin: 15px;
            &__contain{
                & :nth-child(3){
                    padding-top: 0px;
                }
            }
        }
    }
}

#validResp{
    display: none;
}
#catlistresp{
    display: flex;
    flex-wrap: wrap;
}
