.finishOrder__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 120px;
    margin-right: 30px;
    margin-left: 30px;
    width: 85vw;
    &__left{
        position: static;
        margin-bottom: 30px;
        width: 100%;
        h2{
            font-size: 50px;
        }
        p{
            margin-top: 0;
        }
    }
    &__right{
        margin-top: 0;
        margin-right: 0;
        &__form{
            &__name{
                input{
                    width: 68vw;
                    height: 8vw;
                }
            }
            &__email{
                input{
                    width: 84vw;
                    height: 8vw;
                }
            }
            &__summary{
                div{
                    width: 71vw;
                    height: 43vw;
                }
            }
            &__message{
                textarea{
                    width: 84vw;
                    height: 30vw;
                }
            }
            &__send{
                margin-bottom: 60px;
            }
        }
    }
}